	/* THE TEAM */

.team-member {
	float: left;
	width: 33.3%;
	text-align: center;
    background-color: black;
    
    margin-top: 20px;
    
}

.flip-container {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	margin: 0 auto 15px;
}

.team-member:hover .flipper,
.team-member.hover .flipper {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.flip-container,
.flipper .front,
.flipper .back {
	width: 130px;
	height: 130px;
}

.flipper {
	position: relative;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.flipper .front,
.flipper .back {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	top: 0;
	left: 0;
}

.front {z-index: 2;}
.front img{
    width : 130px !important;
    height : 130px !important;
}
.back img {
    width : 130px !important;
    height : 130px !important;
}
.back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.flip-container img {cursor: pointer;}

.team-member h1 {
	font: 100 20px/20px "Futurica", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.team-member h2 {
	font: 100 15px/15px "Source Sans Pro", Helvetica, Arial, sans-serif;
	color: #cccccc;
	margin-bottom: 10px;
}
