  * {
      margin: 0;
      padding: 0;
  }
  img {
      width: 200px;
      height: 130px;
  }
  img.af {
      width: 100%;
      height: 700px;
  }
  img.fb {
      width: 100px;
      height: 148px;
      margin-left: 250px;
      margin-top: 60px;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  body {
      font-family: segoe ui light;
      overflow-x: hidden;
      background: black;
  }
  .header {
      width: 100%;
      height: 100px;
      background-color: black;
  }
  .header2 {
      width: 100%;
      height: 50px;
      background-color: black;
      z-index: 99;
  }
  .header3 {}
  .header31 {
      width: 100%;
      height: 600px;
  }
  .header4 {
      width: 100%;
      height: 250px;
      background-color: black;
  }
  .header5 {
      width: 100%;
      height: 18%;
      background-color: white;
  }
  h3.h3 {
      color: black;
      margin: 0;
      text-align: center;
      font-weight: bold;
  }
  h3.nv {
      float: right;
      color: white;
      margin-top: 100px;
      margin-right: 300px;
  }
  ul li {
      display: inline-block;
      padding: 10px;
  }
  ul li a {
      text-decoration: none;
      font-weight: bold;
      padding: 10px;
      color: white;
  }
  ul li a:hover {
      text-decoration: none;
      color: black;
  }
  h2 {
      color: white;
      margin: 0;
      font-family: segoe ui light;
  }
  h4.rafi {
      color: greenyellow;
      text-align: center;
  }
  ul {
      list-style-type: none;
      background-color: black;
      position: relative;
      width: 100%;
      height: 80px;
      z-index: 99;
      left: 0px;
  }
  li {
      float: left;
      padding-top: 15px;
  }
  li a,
  .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 16px 20px;
      text-decoration: none;
      z-index: 99;
  }
  li a:hover,
  .dropdown:hover .dropbtn {
      background-color: white;
      color: black
  }
  .btn-default {
      background-color: transparent;
      color: white;
      border: none;
      font-weight: bold;
      margin-right: 50px;
  }
  li.dropdown {
      display: inline-block;
  }
  h3.shalahudin {
      color: white;
  }
  .form-control {
      background-color: transparent;
      color: white;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: black;
      color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 99;
  }
  .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  h5.putih {
      color: white;
  }
  .dropdown-content a:hover {
      background-color: white;
      color: black;
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #img-carousel {
      width: 100%;
  }
.carousel-indicators{
    margin-left: 10px;
}
  .first {
      font-family: calibri light;
      padding-top: 40px;
      text-align: center;
      background-image: url("gambar/index2.jpg");
      color: white;
  }
  .button {
      background-color: transparent;
      border: 6px solid lawngreen;
      color: lawngreen;
      font-weight: bold;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }
  .button:hover {
      background-color: transparent;
      border: 6px solid white;
      color: white;
  }
  .katengah1 {
      background-color: black;
      padding-bottom: 50px;
      border-top: 2px solid lawngreen;
  }
  .haaa {
      float: left;
      font-family: segoe ui light;
      padding-top: 50px;
      width: 670px;
      color: white;
      font-weight: bolder;
      margin-left: 200px;
  }
  .button2 {
      background-color: transparent;
      border: 4px solid lawngreen;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      margin-top: 60px;
      cursor: pointer;
      font-size: 17px;
  }
  .button2:hover {
      background-color: transparent;
      border: 4px solid white;
      color: white;
  }
  #footer {
      width: 100%;
      height: 110px;
      background-color: black;
      border-top: 2px solid lawngreen;
      border-bot: 2px solid lawngreen;
  }
  img.gfe {
      margin-top: 10px;
      margin-right: 20px;
      float: left;
      height: 60px;
      width: 200px;
  }
  p.pf {
      font-size: 16px;
      text-indent: 0.5cm;
      margin-top: 40px;
      color: white;
  }
  img.logof {
      width: 150px;
      height: 85px;
      float: left;
      margin-top: 7px;
      margin-left: 500px;
  }
  body.ha {
      background-color: black;
  }
 
  .table {
      margin-left: 180px;
      text-align: center;
      width: 300px;
  }
  body.proses {
      background-color: black;
      color: white;
  }
  h3.proses {
      
      margin-left: 248px;
      margin-right: 248px;
  }
.container {
    position: relative;
    margin-top: 50px;
}

.half {
    margin-top: 10px;
}

.info {
    margin-left: 25px;
    color: white;
}

.icon {
    font-size: 20px;
}